.containerBanner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 640px;
    background: #444;
    margin-top: 90px;
}
.bannerContent{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.containerTitle{
    position: absolute;
    left: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 24px;
}
.separator{
    width: 50px;
    height: 8px;
    background: #00B8BF;
}
.title{
    font-size: 6.4vw;
    font-weight: 900;
    color: #04ACBC;
    min-height: 224px;
}

.typed-cursor{
    display: none;
}

.subtitle{
    font-size: 3.2vw;
    font-weight: 400;
    color: #BDBFC1;
}

.containerImage{
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    padding-top: 24px
}
.bannerImage{
    width: 100%;
    height: auto;
    max-height: 100%;
}

@media screen and (max-width: 1048px){

    .containerBanner{
        height: 56vw;
        margin-top: 72px;
    }
    .containerTitle{
        height: 56vw;
    }
    .containerTitle .title{
        font-size: 7.2vw;
        min-height: 72px;
    }
    .containerTitle .subtitle{
        font-size: 4.8vw;
    }
    .containerImage{
        right: 16px;
    }
}