.containerHeader{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #3C3C3B;
    height: 90px;
    color: #fff;
}
.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style: none;
}

.menu .menuItem{
    padding: 8px 16px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: 300ms;
}
.menu .menuItem:hover{
    border-bottom: 3px solid #00B8BF;
    transition: 300ms;
}

.action{
    width: 200px;
    padding: 8px 16px;
    border-radius: 16px;
    border: 3px solid #00B8BF;
    background: none;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    transition: 300ms;
}
.action:hover{
    border: 3px solid transparent;
    background: #00B8BF;
}

.logo{
    display: flex;
}
.logo .logoImage{
    width: 100%;
    height: auto;
}