
.containerServices{
    display: flex;
    width: 100%;
    background: #E5E5E5;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    
}

.topic{
    font-size: 32px;
    font-weight: 800;
    color: #00B8BF;
}

.containerList{
    display: flex;
    max-width: 80rem;
    width: 100%;
    align-items: center;
}

.services{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.serviceListConteiner{
    padding: 20px;
    width: 50%;

}

.serviceList{
    min-width: 50%;
    border-radius: 18px;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px rgba(61, 61, 61, 0.548);
    text-align: center;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    
}

.serviceImageArea{
    width: 40%;
}

.serviceImage{
    width: 100%;
    min-height: 100%;
    height: auto;
    backface-visibility: hidden;
    object-fit: cover;
    border-radius: 18px 0px 0px 18px;
}

.serviceContent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 16px;
    padding: 10px;

}

.serviceTitle{
    color: #00B8BF;
}

.serviceDescription{
    color: #00B8BF;
}



.cardArea{    
    display: flex;
    flex-wrap: wrap;    
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.separatorTopic{
    width: 50px;
    height: 8px;
    background: #BDBFC1;
    margin-top: 10px;
}